{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2><b>Overview</b></h2>
    <div class="row">
        <div class="col-md-4">
            <h2>Building 1</h2>
            <div class="img-container">
                <img class="img-rounded img-responsive" src="../static/images/panel_time_override.png" />
            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Building 2</h2>
            <div class="img-container">
                <img class="img-rounded img-responsive" src="../static/images/panel_time_override.png" />
            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Building 3</h2>
            <div class="img-container">
                <img class="img-rounded img-responsive" src="../static/images/panel_time_override.png" />
            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Warehouse 1</h2>
            <div class="img-container">
                <iframe src="https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4" width="325" height="150" frameborder="0"></iframe>

            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Warehouse 2</h2>
            <div class="img-container">
                <iframe src="https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4" width="325" height="150" frameborder="0"></iframe>

            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Warehouse 3</h2>
            <div class="img-container">
                <iframe src="https://snapshot.raintank.io/dashboard-solo/snapshot/y7zwi2bZ7FcoTlB93WN7yWO4aMiz3pZb?from=1493369923321&to=1493377123321&panelId=4" width="325" height="150" frameborder="0"></iframe>

            </div>
            <p><a class="btn btn-default" href="#">more&raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Status</h2>
        <div class="img-container">
            <img class="smallimg" src="../static/images/green-light-4.png" />
        </div>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Usage</h2>
        <p style="font-size:51px;">87%</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alerts</h2>
        <p>Currently no alerts</p>
        <p><a class="btn btn-default" href="#">Latest alerts &raquo;</a></p>
    </div>
</div>

{% endblock %}
